* {
	margin: 0px;
	padding: 0px;
}

p {
	color: #ffffff;
	text-decoration: none;
	position: absolute;
	
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #080808;
}

.bg_box{
	position: absolute;
	width: 68.08VW;
	height: 43.04VW;
	top: 4.39vw;
	left: 27.52VW;
}

.backfilter1 {
	z-index: -1;
	position: absolute;
	width: 11.71vw;
	height: inherit;
	background: linear-gradient(90deg, #080808 41.32%, rgba(8, 8, 8, 0.1) 87.29%, rgba(8, 8, 8, 0) 100%);
}

.backfilter2 {
	z-index: -1;
	position: absolute;
	width: inherit;
	height: 14.64vw;
	top: 0;
	background: linear-gradient(180deg, #080808 16.57%, rgba(8, 8, 8, 0.1) 77.9%, rgba(8, 8, 8, 0) 100%);
}

.backfilter3 {
	z-index: -1;
	position: absolute;
	width: 11.71vw;
	height: inherit;
	right: 0;
	background: linear-gradient(270deg, #080808 41.32%, rgba(8, 8, 8, 0.1) 89.08%, rgba(8, 8, 8, 0) 100%);
}

.backfilter4 {
	z-index: -1;
	position: absolute;
	width: inherit;
	height: 11.71vw;
	bottom: 0;
	background: linear-gradient(0deg, #080808 41.32%, rgba(8, 8, 8, 0.1) 87.85%, rgba(8, 8, 8, 0) 100%);
}

.bg {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	background: url(img/4.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.h1 {
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
}

.h1:hover {
	color: #eee;
}

.h2 {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
}

.h3 {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.logo {
	margin-top: 2.92vw;
	margin-left: 4.39vw;
	margin-bottom: 4.39vw;
}

.log {
	width: 2.92vw;
	height: 1.46vw;
}

.burger {
	display: none;
}

.menu {
	margin-left: 4.39vw;
	width: 160px;
	height: 340px

}

.nav {
	margin: 0px;
	padding-bottom: 4.39vw;
	list-style-type: none;
}

.copy {
	position: absolute;
	bottom: 2.92vw;
	margin-left: 4.39vw;
	font-size: 10px;
}
.album_main {
	position: absolute;
	bottom: 2.92vw;
	right: 13.17vw;
	height: 21.22vw;
	width: 50.51vw;
}

.amore {
	position: absolute;
	bottom: 0;
	width: inherit;
	height: 2.19vw;
	background-color: #101010;
}

.amore:hover {
	background-color: #121212;
}

.amore:active {
	background-color: #141414;
}

.apic {
	position: absolute;
	width: inherit;
	height: initial;
}

.apicin {
	float: left;
	margin-right: 8.78vw;
	width: 10.98vw;
	height: 16.10vw;
	background-color: inherit;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.imag {
	width: 100%;
	height: 100%;
}

.desc {
	z-index: 1;
	position: absolute;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.7);
	width: inherit;
	height: 2.19vw;
	font-weight: 500;
	text-decoration: none;
	font-size: 12px;
}

.sel {
	position: absolute;
	width: 20px;
	height: 8px;
	background-color: #ffffff;
	left: 198px;
	margin-top: 4px;
}

.aboit {
	position: absolute;
	width: 42.16vw;
	height: 22.40vw;
	left: 36.31VW;
	top: 8.78VW;
}

.aboutxt {
	position: absolute;
	width: 210px;
	height: 130px;
	top: 0;
	left: 0;
	font-weight: 500;
	line-height: 23px;
	text-align: justify;
	text-align-last: justify;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

* {
	margin: 0px;
	padding: 0px;
}

.logo {
	margin: 0;
	background-color: #fff;
	position: absolute;
	width: 414px;
	height: 75px;
}

.burger {
	position: absolute;
	display: block;
	width: 18px;
	height: 10px;
	top: 6.66vw;
	right: 8vw;
}

.nav {
	display: none;
}

.bg_box {
	display: none;
}
}
